<div class="container col-md-12">
  <div class="card mb-3 z-depth-1">
    <div class="card-header">
      Movimento do Caixinha
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table mt-3 mb-2 table-hover table-striped" id="table_movimentos">
          <thead class="table-dark">
            <tr>
              <th>Data</th>
              <th>Valor</th>
              <th>Movimento</th>
              <th>Descrição</th>
              <th>Ações</th>
              <div class="d-flex justify-content-end"></div>
            </tr>
          </thead>
          <tbody>
            {{#each movimentos}}
            <tr>
              <td>{{formatDate data}}</td>
              <td>R$ {{valor}}</td>
              <td>{{movimento}}</td>
              <td class="text-nowrap">{{descricao}}</td>
              <td>
                <a href="/admin/excluir_movimento/{{_id}}"
                  onclick="return confirm('Tem certeza que deseja excluir este movimento?');"
                  class="btn btn-danger btn-sm waves-effect waves-light"><i title="Excluir"
                    class="fa-regular fa-trash-can"></i></a>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>